a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body, html {
  font-family: PT Sans, sans-serif
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  position: relative
}

.wrap>.container {
  padding: 70px 15px 20px
}

html {
  position: relative;
  min-height: 100%
}

body {
  margin-bottom: 70px
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd
}

.container .text-muted {
  margin: 20px 0
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px
}

a.asc:after {
  content: "\e151"
}

a.desc:after {
  content: "\e152"
}

.sort-numerical a.asc:after {
  content: "\e153"
}

.sort-numerical a.desc:after {
  content: "\e154"
}

.sort-ordinal a.asc:after {
  content: "\e155"
}

.sort-ordinal a.desc:after {
  content: "\e156"
}

body {
  background: #dcdcdc;
  overflow-x: hidden
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.clearfix {
  *zoom: 1
}

body .main {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #219fff
}

.content {
  display: table-cell;
  vertical-align: middle
}

.historyList {
  position: absolute
}

.genFrame {
  transition: 2s;
}

#hello {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 700
}

#error {
  padding: 5px
}

#geturl {
  margin: 10px;
  width: 500px;
  border-radius: 6px;
  padding: 2px;
  padding-left: 7px;
  color: rgba(249, 113, 10, .92)
}

#getLink {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  min-width: 125px !important;
}

.AdvSetting {
  margin-bottom: 10px;
  padding: 5px;
}

#switchSetting {
  cursor: pointer;
  padding: 5px 0;
}

#setting {
  margin-top: 20px;
  display: none;
  text-align: left;
  justify-content: center;
  align-items: flex-end;
}

@keyframes fadeDOM {
  %0 {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hideElem {
  display: none !important;
}


/*asdasd*/

#setting * {
  border-radius: 6px;
  padding: 3px 7px;
}

#setting label {
  float: right;
  margin: 0px 10px;
  font-weight: bold;
}

#setting input {
  display: block;
  font-weight: normal;
  margin-top: 4px;
  clear: both;
  height: 35px;
}

#timepicker {
  margin: 3px 7px;
}

#error {
  color: red;
  font-size: 14px;
  height: 15px;
}

.userRes {
  display: none;
}

#res {
  padding: 10px;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 20px;
  text-shadow: 2px 0 3px white;
}

#res a:hover {
  color: grey;
  text-decoration: none;
}

#res p {
  padding: 5px 0;
}

#passreq {
  display: block;
  margin: 0 auto;
  padding: 3px 7px;
  border-radius: 6px;
  margin-bottom: 15px;
  width: 250px;
}

#passCheck {
  font-size: 20px;
  font-weight: bold;
  width: 150px;
}

.PassRequest p {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.PassRequest #error {
  padding: 3px;
  line-height: 18px;
  margin-bottom: 10px;
  transition: 1s;
}

#vline {
  border: 2px solid grey;
  height: 30px;
  width: 0;
  margin: 0;
  margin-bottom: 5px;
  border-radius: 0;
  padding: 0;
}
